# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
#user defined function
def add_two(num):
    return num +2
add_two(4)

6

In [4]:
#same function as lambda function
(lambda num: num + 2)(5)

7

#### Saving to a Variable

In [5]:
f_test = lambda num: num +2

f_test(5)

7

#### Multiple Inputs

In [8]:
#multiple inputs with no varaibles
(lambda x, y, z: x * y * z) (2, 5, 7)

70

In [9]:
#mult_func with variable 
mult_func = lambda x, y, z: x* y * z

mult_func(3, 4, 6)

72

#### Passing a Lambda into a Function

In [12]:
def apply_func(f, num):
    """
    f expects a function
    num epepects a number
    apply_func will run function f and pass in num as a argument
    """
    return f(num)# () executes
apply_func(lambda x: x*x, 4) #lambda 4 : with be 4*4 = 16

16

#### Returning a Lambda from a Function

In [24]:
#regualr defined function returns int
def multiply_test(num):
    return num + 4
#function that returns a function
def return_function():
    def multiply(num):
        return num * 2
    return multiply
a = return_function()
a(5)
print(return_function)
print(return_function())

#lambda function returned from a regular function
def return_lambda(b , c):
    return lambda x: x * (b + c)

r_lamb = return_lambda(3,4)
print(r_lamb)
r_lamb(5)

<function return_function at 0x7fe7b8075790>
<function return_function.<locals>.multiply at 0x7fe7b8075430>
<function return_lambda.<locals>.<lambda> at 0x7fe7b80755e0>

35

#### If Statements within Lambdas

In [29]:
#lambda x : return value true if (condition) else false return value
f_condition = lambda num : num * 2 if num > 10 else num + 2
print(f_condition(8))
print(f_condition(12))

10
24

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [30]:
f = lambda num: num **3
print(f(3))

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [52]:
#map(function_to_apply, iteratable_function_applied_to(listts, tuple,set,dict))

#write a pre-defined function

#### Using Lambda's with Map

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [59]:
my_nums = [5, 8, 10, 15, 24, 42, 17, 14, 3, 9]
#map function will run the first arugment on each iteral
list(map ( lambda num: num*2 - 1,my_nums))

[9, 15, 19, 29, 47, 83, 33, 27, 5, 17]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [ ]:
#

#### Using Lambda's with Filter()

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [64]:
def add_nums(num):
    #set base case for recursive
    if num <= 1:
        return num
    else:
        return num + add_nums(num - 1)
add_nums(5)

15

#### Writing a Factorial Function

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [75]:
def subtract_nums(num):
    if num == 1:
        return num
    else:
        return num + subtract_nums(num - 1)
subtract_nums(4)

10

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [70]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]


empty_string = []

for string in places:
    if (string != " "):
        empty_string.append(string)

print(empty_string)

['Argentina', 'San Diego', '', '  ', '', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [77]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]


author.sort(key=lambda x:x[2])
print(author)

['Victor aNisimov', 'Andrew P. Garfield', 'Joel Carter', 'Gary A.J. Bernstein', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [78]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

#Not sure how to solve this
empty_string = []

for string in places:
    if (string != " "):
        empty_string.append(string)

print(empty_string)



       # return ((float(9)/5)*c + 32)

[('Nashua', 32), ('Boston', 12), ('Los Angelos', 44), ('Miami', 29)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [68]:
interation = ['Iteration', 'Iteration', 'Iteration', 'Iteration', 'iteration', 'Interation']
for i in range(len(iteration)):
    print(i, interation[i])

0 Iteration
1 Iteration
2 Iteration
3 Iteration
4 iteration
5 Interation